.title{
    background-color: #fff9fb;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

h1{
    color: black;
}

tr > *{
    
    padding-right: 50px;
    padding-bottom: 10px;
}




.sort{
    background-color: white;
    width: 85%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;

    margin-right: auto;
}

.item{
    padding-top: 0px;
    padding-bottom: 0px;
}

.desc{
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
    padding: 3 3 3 3;
}

.shopping-cart{
    background-color: white;
    padding-top: 20px;
}

.row{
    background-color: #fff9fb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
}