@page
@model SDP.Pages.AboutUsModel
@{
}

<head>
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/AboutUs-Style.css" rel="stylesheet">
</head>

<div class="container">
    <div class="goal-statement">
        <h2>- Our Goal -</h2>
        <p id="goalStatement">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum. </p>
    </div>
    <div class="spacing" id="spacing"></div>
    <h3>About</h3>
    <div class="about-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus ipsum laoreet libero aliquet, non tristique nibh volutpat.
        Donec sed scelerisque lectus. Sed rhoncus mi et elit ultrices, a bibendum neque semper. Nunc et cursus neque. Phasellus ipsum quam, 
        vulputate eu ante ut, fringilla porttitor ligula. Proin eget iaculis sem, pulvinar aliquet mi. Aenean aliquet in enim ullamcorper tempus. </p>
    </div>
</div>
