@page
@model SDP.Pages.CheckoutModel
@{
}

<head>
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/Checkout-style.css" rel="stylesheet">
</head>
<script src="~/js/Checkout.js"></script>
<!--Checkout========================================================-->
<div class="container">
    <button class="payment-method-toggler" data-bs-toggle="collapse" data-bs-target="#payment-method"><h3>Payment Methods</h3></button>
    <div id="payment-method" class="collapse payment-method">

        <div class="payment">
            <div class="row">
                <div class="col-4">
                    <input type="radio" name="payment-option" value="Stripe" checked="true">
                    <img src="~/imgs/stripe-logo.png" alt="payment processor logo" height="50px" width="70px">
                </div>
            </div>
        </div>
    </div>

    <button class="order-option-toggler" data-bs-toggle="collapse" data-bs-target="#order-option"><h3>Order Option</h3></button>
    <div id="order-option" class="collapse order-method">
        <h3>Order Option</h3>
        <div class="row">
            <div class="col-4">
                <input type="radio" name="delivery-option" value="PickUp">
                <label for="PickUp">Pick Up</label>
            </div>
            <div class="col-4">
                <input type="radio" name="delivery-option" value="Delivery">
                <label for="Delivery">Deliver</label>
            </div>
        </div>

    </div>

    <button class="delivery-address-toggler" data-bs-toggle="collapse" data-bs-target="#delivery-address"><h3>Billing Address</h3></button>
    <div id="delivery-address" class="collapse address">

        <table>
            <tr>
                <td>Address 1</td>
                <td><input type="text" placeholder="Address 1" /></td>
            </tr>
            <tr>
                <td>Address 2</td>
                <td><input type="text" placeholder="Address 2" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" placeholder="Email" /></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" placeholder="Phone Number" /></td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td><input type="text" placeholder="Postcode" /></td>
            </tr>
        </table>

    </div>

    <button id="placeOrder" type="submit" onclick="performCheckout(this);" class="order-placement">Place Order</button>

</div>