@page
@model SDP.Pages.LoginModel
@{
}
<head>
    <link href="~/css/login-style.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<!--Login Form ======================================================================-->
<div class="container">
    <form>
        <h2>Login</h2>
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" placeholder="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><input class="btn-primary" type="submit" value="Login"></td>
                <td><input class="btn-primary" type="button" value="Sign-up"></td>

            </tr>

        </table>


    </form>
</div>